@import url('https://fonts.googleapis.com/css?family=VT323|Skranji|Shojumaru');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	font-family: 'Skranji', cursive;
	font-size:14px;
	color: #25bea0;
}
#container{
	margin:0 auto;
	position: relative;	
	width:360px;
}
/* Header */
h1{ 
	font-family: 'Shojumaru', cursive;
	font-size:35px;
	margin-bottom: 10px;
	text-align:center;
	text-shadow: 1px 1px 2px #FF6400;
}
#validate{ 
	height:40px;
	vertical-align: middle;
}
#validate_active { display: none; }
#rules_popup { 
	float:right;
	clear:both;
	font-size:30px;
	width: 40px;
	height:40px;
	text-align: center;
	line-height: 32px;
	border: #00856B 2px solid;
	border-radius: 50%;
	background-color:#73DDC8;
	color: #00856B;
  margin-bottom: 10px;

}

#board {
	display: inline-grid;
	grid-template-rows: repeat(6, 60px);
	grid-template-columns: repeat(6, 60px);
	grid-gap: 0;
}

/* sqauqres */
.square{
	border:1px solid black;
	background-color: #000;
	line-height: 20px;
	outline:none;
	text-align: center;
	text-transform: uppercase;
}
div.square{
font-size:20px;

}
div.square::after, div.square::before{
	color:#555;
	position:relative;
}

input.square {
	background-color: #fff;
	cursor: help;
	font-size:45px;
	font-family: "VT323", monospace;
}
input.square:focus{
	background-color: #efefef;
}
input.square::-webkit-outer-spin-button,
input.square::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input.square {
    -moz-appearance: textfield;
}

/* numbered clues going towards the right */
div.square[right] {
	background: linear-gradient(to bottom left, #ccc 0%, #ccc 50%, #000 50%, #000 100%);
}
.square[right]::before{
	content: attr(right);
  left: 20px;
	top:2px;
	
}
/* numbered clues going towards the bottom */
.square[bottom] {
	background: linear-gradient(to top right, #ccc 0%, #ccc 50%, #000 50%, #000 100%);
}
.square[bottom]::after{
	content: attr(bottom);
	left:-15px;
	top:40px;
}

/* numbered clues going towards the right and the bottom */
.square[bottom][right]{
	background: linear-gradient(to top right, #ccc 0%, #ccc 49.5%, #000 49.5%, #000 50.5%, #ccc 50.5%, #ccc 100%);
	height:60px;
}

/* Check wrong answers checkbox */
#validate:checked, 
#validate:checked + label{
	display:none;
}
#validate_active{
	display: none;
	padding-top: 10px;
	color: #D05200;
}
#validate:checked ~ #validate_active{
	display: inline-block;
	
}
#validate:checked ~ #board input.square:not(:placeholder-shown):invalid{
	background-color: rgba(255, 180, 132, .3);
}

/* Show messages */
.messages{ 
	display: none;
	height:360px;
	width:100%;
	position:relative;
	top:-360px;
	left:0;
	background-color: rgba(0,0,0,.4);
	color:white;
	z-index:200;
}
.messages .text{
	position:relative;
	padding:15px;
 top: 50%;
	transform: perspective(1px) translateY(-50%);
	text-align: justify
}
.messages .text strong{
	font-family: 'Shojumaru', cursive;
	font-size:20px;
	display: block;
	text-transform: uppercase;
}
.messages#win .text{
	background: #00856B;
}
.messages#rules .text{
	background: #FF8332;
}
.messages a { color: #73DDC8;}
/* Rules message */
#rules_popup:hover ~ #rules { display: block;}

/* Win message */
form:valid input{
	pointer-events: none;
}
form:valid ~ #win{ display: block;}
